@font-face {
  font-family: "avenir", sans-serif;
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "avenir", sans-serif;
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "avenir", sans-serif;
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
  font-style: normal;
}
body {
  font-size: 16px;
  font-family: "avenir";
}

h1 {
  margin: 0;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}
@media (min-width: 768px) {
  h1 {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

h2 {
  margin: 0;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}
@media (min-width: 768px) {
  h2 {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

h3 {
  margin: 0;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
@media (min-width: 768px) {
  h3 {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

p {
  margin: 0;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media (min-width: 768px) {
  p {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

footer p, footer a {
  margin: 0;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media (min-width: 768px) {
  footer p, footer a {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

label, button {
  margin: 0;
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 1.25rem;
}
@media (min-width: 768px) {
  label, button {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}

cite {
  font-style: normal;
}

figcaption, blockquote {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
@media (min-width: 768px) {
  figcaption, blockquote {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

figcaption:before {
  content: "- ";
}

html, body, figure, blockquote {
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 1rem;
}
@media (min-width: 768px) {
  .container {
    padding: 0 2.25rem;
  }
}

.row {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (min-width: 1280px) {
  .row {
    width: 64rem;
    margin: 0 auto;
  }
}
.row--no-pad {
  padding-top: 0;
  padding-bottom: 0;
}

.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #323232;
}
.main-nav__logo-container {
  text-align: center;
}
.main-nav__list-container {
  width: 100%;
}
.main-nav__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.main-nav__list-item {
  width: 50%;
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid #323232;
}
.main-nav__list-item--active {
  border-bottom: 3px solid #FFFFFF;
  font-weight: 700;
}
.main-nav__list-link {
  display: inline-block;
  color: #FFFFFF;
  text-decoration: none;
}

.logo {
  background-color: #323232;
  height: 1.25rem;
  padding: 1rem 0 0.5rem 0;
}

.hero {
  background-image: url("../../assets/images/hero-bio.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.hero__heading {
  color: #FFFFFF;
  text-transform: capitalize;
  padding: 5rem 0;
}

.about__heading {
  padding-top: 1rem;
}
.about__main-image-container {
  height: 80%;
}
.about__main-image {
  width: 100%;
}

.photo-gallery {
  margin-top: 2rem;
}
.photo-gallery__image {
  width: 100%;
  padding-bottom: 0.5rem;
}
.photo-gallery__image--last {
  padding-bottom: 0;
}

.main-footer {
  background-color: #323232;
  color: #FFFFFF;
}
.main-footer__heading {
  padding-top: 1.5rem;
}

.social-media__link {
  margin-right: 2rem;
}

.contact__email {
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  margin-bottom: 1rem;
}
.contact__name {
  font-weight: 700;
}
.contact__company {
  font-weight: 700;
}

.copyright__logo {
  margin-top: 2rem;
}
.copyright__details {
  margin-bottom: 0.5rem;
}