@font-face {
  font-family: "avenir", sans-serif;
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "avenir", sans-serif;
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "avenir", sans-serif;
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf");
  font-weight: 700;
  font-style: normal;
}
body {
  font-size: 16px;
  font-family: "avenir";
  color: #323232;
}

h1 {
  margin: 0;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
}
@media (min-width: 768px) {
  h1 {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
}

h2 {
  margin: 0;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
}
@media (min-width: 768px) {
  h2 {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    font-size: 2.25rem;
    line-height: 2.75rem;
  }
}

h3 {
  margin: 0;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
@media (min-width: 768px) {
  h3 {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

p {
  margin: 0;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media (min-width: 768px) {
  p {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

footer p, footer a {
  margin: 0;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media (min-width: 768px) {
  footer p, footer a {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

label, button {
  margin: 0;
  font-family: "avenir";
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 1.25rem;
}
@media (min-width: 768px) {
  label, button {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}

cite, address {
  font-style: normal;
}

figcaption, blockquote, cite {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
@media (min-width: 768px) {
  figcaption, blockquote, cite {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.35rem;
    line-height: 2rem;
  }
}

cite:before {
  content: "- ";
}

form, textarea, input {
  font-family: "avenir";
}

html, body, figure, blockquote {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

::-moz-placeholder {
  color: #323232;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #323232;
  opacity: 1;
}

::placeholder {
  color: #323232;
  opacity: 1;
}

.nav {
  background-color: #323232;
}
.nav__container {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .nav__container {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .nav__container {
    max-width: 64rem;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  .nav__container {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
  }
}
.nav__logo-container {
  text-align: center;
}
@media (min-width: 768px) {
  .nav__logo-container {
    text-align: left;
    margin-right: 1.5rem;
    padding: 0.75rem 0;
  }
}
@media (min-width: 1280px) {
  .nav__logo-container {
    padding: 1.65rem 0;
  }
}
.nav__list-container {
  width: 100%;
}
@media (min-width: 768px) {
  .nav__list-container {
    width: auto;
  }
}
.nav__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.nav__list-item {
  width: 50%;
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid #323232;
  transition: all 0.75s ease;
}
@media (min-width: 768px) {
  .nav__list-item {
    width: 100%;
    padding: 1.25rem 0;
    margin: 0 1.5rem;
  }
}
@media (min-width: 1280px) {
  .nav__list-item {
    padding: 2.25rem 0;
  }
}
.nav__list-item--active {
  border-bottom: 3px solid #FFFFFF;
  font-weight: 600;
}
.nav__list-item:hover {
  border-bottom: 3px solid #AFAFAF;
}
.nav__list-link {
  display: inline-block;
  color: #AFAFAF;
  text-decoration: none;
}
.nav__list-link--active {
  color: #FAFAFA;
}
.nav__logo {
  background-color: #323232;
  height: 1.25rem;
  padding: 1rem 0 0.5rem 0;
}

.footer {
  background-color: #323232;
  color: #FFFFFF;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .footer {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
  }
}
.footer__container {
  padding: 0 1rem;
}
@media (min-width: 768px) {
  .footer__container {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .footer__container {
    max-width: 64rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .social-media {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
.social-media__link-container {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .social-media__link-container {
    margin-left: 1.5rem;
  }
}
.social-media__heading {
  padding-top: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .social-media__info-left {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
  }
}
.social-media__info-right {
  display: none;
}
@media (min-width: 768px) {
  .social-media__info-right {
    display: block;
  }
}
.social-media__link {
  margin-right: 2rem;
  text-decoration: none;
}

@media (min-width: 768px) {
  .contact {
    display: flex;
    justify-content: flex-start;
  }
}
@media (min-width: 768px) {
  .contact__column {
    margin-right: 2.5rem;
  }
}
.contact__row {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .contact__row {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}
.contact__row-item--bold {
  font-weight: 600;
}
.contact__email {
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  margin-bottom: 1rem;
  transition: 0.75s ease;
}
.contact__email:hover {
  color: #AFAFAF;
}

.copyright__row {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.copyright__logo {
  margin-top: 2rem;
}
@media (min-width: 768px) {
  .copyright__logo {
    display: none;
  }
}
.copyright__details {
  margin-bottom: 0.5rem;
  font-size: 0.7rem;
  color: #E1E1E1;
}
@media (min-width: 768px) {
  .copyright__details {
    font-size: 0.875rem;
  }
}

.notification {
  position: fixed;
  padding: 1rem;
  border-radius: 0.5rem;
  bottom: 1rem;
  z-index: 2;
  width: 50vw;
  right: 1.5rem;
  box-sizing: border-box;
  color: white;
  background-color: #323232;
  border: 1px solid #AFAFAF;
  -webkit-animation: fade 4s ease-in-out forwards;
          animation: fade 4s ease-in-out forwards;
}
@media (min-width: 768px) {
  .notification {
    width: 30vw;
  }
}
.notification__heading {
  margin: 0rem;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.hero {
  background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../../assets/images/hero-bio.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-bottom: 1rem;
}
.hero__container {
  padding: 0 1rem;
}
@media (min-width: 768px) {
  .hero__container {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .hero__container {
    max-width: 64rem;
    margin-left: auto;
    margin-right: auto;
  }
}
.hero__heading {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #FFFFFF;
  text-transform: capitalize;
  height: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about {
  padding: 0 1rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .about {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .about {
    max-width: 64rem;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1280px) {
  .about {
    margin-bottom: 2rem;
  }
}
.about__heading {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .about__heading {
    padding-top: 2rem;
  }
}
@media (min-width: 1280px) {
  .about__heading {
    padding-bottom: 2rem;
  }
}

@media (min-width: 768px) {
  .article {
    padding: 0 4rem;
  }
}
.article__image-container {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.article__image {
  width: 100%;
  height: 50vw;
  max-height: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 70%;
     object-position: 0 70%;
}
@media (min-width: 768px) {
  .article__image {
    height: 40vw;
  }
}
.article__quote-container {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .article__quote-container {
    margin-top: 1rem;
  }
}
@media (min-width: 1280px) {
  .article__quote-container {
    width: 75%;
  }
}
.article__quote-attributed {
  margin-top: 0.5rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .article__quote-attributed {
    font-size: 1rem;
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .article__container {
    display: flex;
    justify-content: flex-start;
  }
}
.article__band {
  margin-top: 1rem;
  font-weight: 600;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.article__column {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .article__column--first {
    margin-right: 1rem;
  }
}

.photo-gallery {
  background-color: #FAFAFA;
}
.photo-gallery__container {
  padding: 0 1rem;
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .photo-gallery__container {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .photo-gallery__container {
    max-width: 64rem;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  .photo-gallery__container {
    padding-top: 2rem;
  }
}
.photo-gallery__images {
  padding-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .photo-gallery__images {
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media (min-width: 1280px) {
  .photo-gallery__images {
    padding-bottom: 1.5rem;
  }
}
.photo-gallery__heading {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (min-width: 1280px) {
  .photo-gallery__heading {
    padding-bottom: 2rem;
  }
}
.photo-gallery__image-container {
  width: 100%;
  padding-bottom: 1.25%;
  padding-top: 1.25%;
}
@media (min-width: 768px) {
  .photo-gallery__image-container {
    padding-bottom: 0.75%;
    padding-top: 0.75%;
    width: 32%;
  }
}
.photo-gallery__image {
  width: 100%;
  filter: grayscale(100%);
  transition: all 0.75s ease-in-out;
}
.photo-gallery__image:hover {
  filter: grayscale(0%);
}

.conversation {
  padding-top: 1rem;
}
.conversation__container {
  padding: 0 1rem;
}
@media (min-width: 768px) {
  .conversation__container {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .conversation__container {
    max-width: 64rem;
    margin-left: auto;
    margin-right: auto;
  }
}
.conversation__heading {
  padding-bottom: 1rem;
}
.conversation__form-container {
  display: flex;
  flex-wrap: none;
  justify-content: stretch;
}
@media (min-width: 768px) {
  .conversation__form-container {
    margin-left: 4rem;
    margin-right: 4rem;
  }
}
@media (min-width: 1280px) {
  .conversation__form-container {
    margin-left: 16rem;
    margin-right: 16rem;
  }
}

.comment {
  display: flex;
  justify-content: space-between;
  flex-wrap: none;
  padding: 1rem 0;
  border-top: 1px solid #E1E1E1;
}
@media (min-width: 768px) {
  .comment {
    margin-left: 4rem;
    margin-right: 4rem;
  }
}
@media (min-width: 1280px) {
  .comment {
    margin-left: 16rem;
    margin-right: 16rem;
  }
}
.comment--last {
  border-bottom: 1px solid #E1E1E1;
}
.comment__container {
  padding: 0 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .comment__container {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
@media (min-width: 1280px) {
  .comment__container {
    max-width: 64rem;
    margin-left: auto;
    margin-right: auto;
  }
}
.comment__row {
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}
.comment__row--last {
  padding-bottom: 0;
}
.comment__name {
  font-weight: 700;
}
.comment__date {
  color: #AFAFAF;
}
.comment__column--wide {
  flex: 1;
}
.comment__details {
  flex: 1;
  margin-right: 1.5rem;
}
.comment__like-link {
  font-size: 0.65rem;
  color: #AFAFAF;
}
.comment__like-btn, .comment__delete-btn {
  height: 0.85rem;
  margin-left: 0.2rem;
  margin-bottom: 0.1rem;
  transition: all 0.25s ease-in-out;
  transform: scale(1);
}
.comment__like-btn--clicked, .comment__delete-btn--clicked {
  transform: scale(1.3);
}

.form {
  flex: 1;
}
.form__label {
  color: #AFAFAF;
  text-transform: uppercase;
}
.form__textarea, .form__input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 0.25rem;
  padding: 0.75rem;
  color: #323232;
  border: 1px solid #E1E1E1;
  background-color: #FAFAFA;
}
@media (min-width: 768px) {
  .form__textarea, .form__input {
    min-height: 3rem;
    padding: 1rem;
  }
}
.form__textarea:focus, .form__input:focus {
  border: 1px solid #323232;
}
.form__textarea--has-error, .form__input--has-error {
  border: 1px solid #D22D2D !important;
}
.form__help-name, .form__help-textarea {
  color: #D22D2D;
  font-size: 0.75rem;
  margin-top: 0;
  margin-bottom: 0.75rem;
  display: inline-block;
}
.form__textarea {
  height: 6rem;
  resize: none;
}
.form__submit-button {
  width: 100%;
  background-color: #323232;
  color: #FFFFFF;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  height: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
}
.form__submit-button:hover {
  background-color: #000000;
}
.form__submit-button:focus {
  outline: 0;
}
@media (min-width: 768px) {
  .form__submit-button {
    width: auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.form__row--right-align {
  text-align: right;
}

.avatar {
  width: 2.25rem;
  height: 2.25rem;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 1rem;
}
@media (min-width: 768px) {
  .avatar {
    height: 3rem;
    width: 3rem;
  }
}
.avatar__image {
  margin: 0 auto;
  height: 100%;
}
.avatar__image--no-image {
  background-color: #E1E1E1;
}
.avatar--padded {
  margin-top: 1.55rem;
}