@use "partials/globals" as *;
@use "partials/colors";
@use "partials/variables";
@use "partials/typography";
@use "partials/mixins";


.hero {
    background-image: linear-gradient(
        colors.$primary-black-rgba-50-percent,
        colors.$primary-black-rgba-50-percent
        ), url('../../assets/images/hero-bio.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom: 1rem;

    &__container {
        @include mixins.container;
    }

    &__heading {
        @include mixins.row;
        color: colors.$primary-white;
        text-transform: capitalize;
        height: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.about {
    @include mixins.container;
    margin-bottom: 1rem;
    @include mixins.desktop {
        margin-bottom: 2rem;
    }

    &__heading {
        @include mixins.row;
        @include mixins.tablet {
            padding-top: 2rem;
        }
        @include mixins.desktop {
            padding-bottom: 2rem;
        }
    }
}

.article {
    @include mixins.tablet {
        padding: 0 4rem;
    }

    &__image-container {
        @include mixins.row;
    }

    &__image {
        width: 100%;
        height: 50vw;
        max-height: 30rem;
        object-fit: cover;
        object-position: 0 70%;
        @include mixins.tablet {
            height: 40vw;
        }
    }

    &__quote-container {
        @include mixins.row;
        @include mixins.tablet {
            margin-top: 1rem;
        }
        @include mixins.desktop {
            width: 75%;
        }
    }

    &__quote-attributed {
        margin-top: 0.5rem;
        font-weight: 700;
        @include mixins.tablet {
            font-size: 1rem;
            margin-top: 0;
        }
    }

    &__container {
        @include mixins.tablet {
            display: flex;
            justify-content: flex-start;

        }
    }

    &__band {
        margin-top: 1rem;
        font-weight: 600;
        @include mixins.row;
    }

    &__column {
        @include mixins.row;
        &--first {
            @include mixins.tablet {
                margin-right: 1rem;
            }
        }
    }
}

.photo-gallery {
    background-color: colors.$secondary-alabaster;
    
    &__container {
        @include mixins.container;
        padding-top: 1rem;
        @include mixins.tablet {
            padding-top: 2rem;
        }
    }

    &__images {
        padding-bottom: 0.5rem;
        @include mixins.tablet {
            padding-bottom: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }
        @include mixins.desktop {
            padding-bottom: 1.5rem;
        }
    }

    &__heading {
        @include mixins.row;
        @include mixins.desktop {
            padding-bottom: 2rem;
        }
    }

    &__image-container {
        width: 100%;
        padding-bottom: 1.25%;
        padding-top: 1.25%;
        @include mixins.tablet {
            padding-bottom: 0.75%;
            padding-top: 0.75%;
            width: 32%;
        }
    }

    &__image {
        width: 100%;
        filter: grayscale(100%);
        transition: all 0.75s ease-in-out;
    }

    &__image:hover {
        filter: grayscale(0%);
    }
}

.conversation {
    padding-top: 1rem;

    &__container {
        @include mixins.container;
    }

    &__heading {
        padding-bottom: 1rem;

    }

    &__form-container {
        display: flex;
        flex-wrap: none;
        justify-content: stretch;
        @include mixins.tablet {
            margin-left: 4rem;
            margin-right: 4rem;
        }
        @include mixins.desktop {
            margin-left: 16rem;
            margin-right: 16rem;
        }
    }
}

.comment {
    display: flex;
    justify-content: space-between;
    flex-wrap: none;
    padding: 1rem 0;
    border-top: 1px solid colors.$secondary-mercury;
    @include mixins.tablet {
        margin-left: 4rem;
        margin-right: 4rem;
    }
    @include mixins.desktop {
        margin-left: 16rem;
        margin-right: 16rem;
    }

    &--last {
        border-bottom: 1px solid colors.$secondary-mercury;
    }

    &__container {
        @include mixins.container;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    &__row {
        padding-bottom: 1rem;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__name {
        font-weight: 700;
    }

    &__date {
        color: colors.$primary-silver;
    }

    &__column {
        &--wide {
            flex: 1;
        }
    }
}

.form {
    flex: 1;

    &__label {
        color: colors.$primary-silver;
        text-transform: uppercase;
    }

    &__textarea, &__input {
        width: 100%;
        box-sizing: border-box;
        border-radius: 0.25rem;
        padding: 0.75rem;
        color: colors.$primary-black;
        border: 1px solid colors.$secondary-mercury;
        background-color: colors.$secondary-alabaster;
        @include mixins.tablet {
            min-height: 3rem;
            padding: 1rem;
        }

        &:focus {
            border: 1px solid colors.$primary-black;
        }

        &--has-error {
            border: 1px solid colors.$error-red;
        }
    }

    &__help-name, &__help-textarea {
        color: colors.$error-red;
        font-size: 0.75rem;
        margin-top: 0;
        margin-bottom: 0.75rem;
        display: inline-block;
    }

    &__textarea {
        height: 6rem;
        resize: none;
    }

    &__submit-button {
        width: 100%;
        background-color: colors.$primary-black;
        color: colors.$primary-white;
        border: none;
        border-radius: 0.25rem;
        font-size: 1rem;
        height: 2.5rem;
        font-weight: 400;
        text-transform: uppercase;
        &:hover {
            background-color: colors.$secondary-black;
        }
        @include mixins.tablet {
            width: auto;
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }

    &__row {
        &--right-align {
            text-align: right;
        }
    }
}

.avatar {
    width: 2.25rem;
    height: 2.25rem;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 1rem;
    @include mixins.tablet {
        height: 3rem;
        width: 3rem;
    }

    &__image {
        margin: 0 auto;
        height: 100%;

        &--no-image {
            background-color: colors.$secondary-mercury;
        }
    }
    
    &--padded {
        margin-top:1.55rem;
    }
}