@use "partials/globals" as *;
@use "partials/colors";
@use "partials/variables";
@use "partials/typography";
@use "partials/mixins";

.hero {
    color: colors.$primary-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(
        colors.$primary-black-rgba-50-percent,
        colors.$primary-black-rgba-50-percent
        ), url('../assets/images/hero-shows.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 10vw 0;
    @include mixins.desktop {
        padding: 20vw 0;
    }

    &__container {
        @include mixins.container;
        @include mixins.tablet {
            width: 75%;
        }
        @include mixins.desktop {
            width: 100%;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
        }
    }

    &__heading {
        margin-bottom: 1rem;
        @include mixins.row;
    }

    &__subheading {
        @include mixins.row;
        font-size: 1rem;
        font-weight: 400;
        @include mixins.tablet {
            font-size: 1.5rem;
        }
    }

    &__soundcloud {
        @include mixins.tablet {
            width: 70%;
            margin-top: 2rem;
        }
        @include mixins.desktop {
            width: 80%;
            margin-left: 4rem;
        }
    }
}

.shows {
    margin-top: 2rem;
    @include mixins.tablet {
        margin-top: 0;
        margin-bottom: 1rem;
    }
    @include mixins.desktop {       
        @include mixins.container;
        display: flex;
        margin-right: -3rem;
    }

    &__heading {
        @include mixins.tablet {
            padding-bottom: 0;
        }
        @include mixins.desktop {
            margin-left: -2.25rem;
            margin-right: 5rem;
        }
    }

    &__heading-container {
        @include mixins.container;
    }
}

.cards {
    @include mixins.desktop {
        flex: 1;
        margin-right: -2.25rem;
    }
}

.card {
    @include mixins.container;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-bottom: 1px solid colors.$secondary-mercury;
    text-align: left;

    @include mixins.tablet {
        flex-direction: row;
        align-items: center;
    }

    &--last {
        margin-bottom: 1rem;
    }

    &--active {
        background-color: colors.$secondary-mercury;
    }

    &:hover {
        background-color: colors.$secondary-alabaster;
    }

    &__description {
        text-transform: uppercase;
        color: colors.$primary-silver;
        font-size: 0.6rem;
        font-weight: 600;
        padding-top: 0.75rem;
        @include mixins.tablet {
            display: none;
        }

        &--tablet-plus {
            @include mixins.tablet {
                display: block;
                margin-bottom: 2rem;
            }
        }
    }

    &__header {
        text-transform: uppercase;
        color: colors.$primary-silver;
        font-size: 0.6rem;
        font-weight: 600;
        padding-top: 0.75rem;
        @include mixins.tablet {
            font-size: 0.75rem;
        }
    }

    &__header-row {
        display: none;
        @include mixins.tablet{
            @include mixins.container;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
    }

    &__date {
        font-weight: 700;
    }

    &__button {
        width: 100%;
        margin: 1rem 0;
        background-color: colors.$primary-black;
        color: colors.$primary-white;
        border: none;
        border-radius: 0.25rem;
        font-size: 1rem;
        height: 2.5rem;
        font-weight: 400;
        text-transform: uppercase;
        @include mixins.tablet {
            width: auto;
            padding-left: 2rem;
            padding-right: 2rem;
        }
        &:hover {
            background-color: colors.$secondary-black;
        }
        &--hidden {
            visibility: hidden;
        }
    }

    &__date, &__venue, &__location, &__header {
        @include mixins.tablet {
            flex: 1;    
        }
    }
}